{{ define "main" }}
<div class="max-w-3xl mx-auto leading-relaxed my-6">
    <a class="block float-right " href="/about/">
        <img src="/favicon.jpg" class="rounded-full" width=150 height=150 alt="favicon"/>
    </a>

    <div class="markdown">
        {{ .Content }}
        {{ $optBlock := dict "display" "block" }}

        <p>{{ "**精选：**" | markdownify }}</p>
        <ul>
            {{ range (where .Site.RegularPages "Section" "!=" "") }}
            {{ if .Params.spotlight }}
            <li>
                <span class="inline-block mr-3 font-mono">{{ .Date.Format "2006/01/02" }}</span>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
            {{ end }}
        </ul>


        <p>{{ "**分类：**" | markdownify }}</p>
        <p class="pl-4">
            {{ range  $tagName, $taxonomy := .Site.Taxonomies.categories  }}
            {{ with $.Site.GetPage (printf "%s/%s" "categories" $tagName) }}
            <span class="inline-block mr-3">
                <a href="{{ .Permalink }}">{{ $tagName }}</a>({{ len $taxonomy }})
            </span>
            {{ end }}
            {{ end }}
        </p>
        <p>{{ .Page.Site.Params.HomeDesc | markdownify }}</p>
    </div>
</div>
{{ end }}